.pop-up{
    position:fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    height:100vh;
    width:100vw;
    top:0;
    display:flex;
    justify-content: center;
}

.modal-confirm .material-icons{
    font-size:80px !important;
}

.modal-confirm .modal-header{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: #636363;
    width: 325px;
    background-color: white;
}

.modal-confirm .modal-body {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 0px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}
.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}


.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 10px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn{
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn-success:hover, .modal-confirm .btn-success:focus {
    background: #6fb32b;
    outline: none;
}

.modal-confirm .btn-success {
    background: #82ce34;
}

.modal-confirm .btn-failure {
    background: red;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
