.print-wrapper{
    display: flex;
    flex-direction: column;
    height:100%;
    padding:10px 150px!important;
    overflow: scroll;
}

.print-wrapper .print-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:30px;
    margin-bottom: 50px;
}

.print-wrapper .print-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.print-wrapper .flex-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-bottom:50px;
}

.print-wrapper .flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.print-wrapper .flex-row .flex-cell{
    border: 1px solid black;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    height:50px;
    font-size: 12px;
}

.print-wrapper .label{
    width: 100px;
    max-width: 200px;
    font-size: 1rem !important;
}

.print-wrapper .large-row .flex-cell{
    padding:30px 15px;
    height:80px;
}

.print-wrapper small{
    position: relative;
    top:25px;
    color:gray;
}

.print-wrapper .print-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.print-wrapper .print-top .watermark{
    display:flex;
    flex-direction: column;
    justify-content: right;
}

.print-wrapper .print-top{
    margin: 80px 0 40px 0;
}