body {
    font-size: 7px;
}

.print-wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: scroll;
}

.print-wrapper .print-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.print-wrapper .print-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.print-wrapper .flex-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.print-wrapper .flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.print-wrapper .flex-row .flex-cell{
    border: 1px solid black;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    height:20px;
    font-size: 7px;
}

.print-wrapper .to-fill {
    flex: 2;
}

.print-wrapper .label{
    flex: 1;
    width: 80px;
    max-width: 170px;
    font-size: 7px !important;
}

.print-wrapper .large-row .flex-cell{
    padding: 30px 15px;
    height: 80px;
}

.print-wrapper small{
    position: relative;
    top: 25px;
    color:gray;
}

.print-wrapper .print-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.print-wrapper .print-top .watermark{
    display: flex;
    flex-direction: column;
    justify-content: right;
}